body 
{ 
	background-color: #398564; /*Teal*/
}

#container 
{ 
	width: 85%;
	background-color: white;
	margin-left: auto;  
	border-color: black;
	border-style: solid;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px; 
}

#content 
{ 
	margin-top: 20px;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 20px; 
}

#top 
{
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	border-color: black;
	border-style: solid;
	text-align: center;
}

#footer 
{
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	background-color: white; 
	margin-top: 10px;
	margin-bottom: 10px;
	border-color: black;
	border-style: solid;
	text-align: center; 
}

#centerdiv
{
	text-align:center;
}

img
{
	height:300px;
	vertical-align:middle;
	margin: 20px 20% 20px 10px;
	border:2px;
	border-color:black;
	border-style:solid;
}

h1 /*USED*/
{
	font-family:Helvetica;
	color: #000000; /*Black*/
	font-size:50px;
}


h2
{	
	padding: 15px;
    	text-align: center;
   	margin-top: 0px;
   	margin-bottom: 0px;
	color: #000000; /*Black*/
} 

p /*USED*/
{ 
	font-size:20px;
	font-family:Helvetica;	
	vertical-align:baseline;
	text-align: center;
}
	
a/*USED*/
{
	font-size:20pt;
	font-family:Helvetica;
	/*text-decoration:none;*/
	padding: 10px;
}

a:link {
  color: #398085;
}

/* visited link */
a:visited {
  color: #aa4620;
}

/* mouse over link */
a:hover {
  color: #aa4620;
}

/* selected link */
a:active {
  color: #aa4620;
}


.floatleft 
{ 
	float: left;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px; 
}
